<div ng-controller="ledgerCtrl" class="container">
	<br>
	<div class="row">
		<div class="col-md-10">
			<table class="table table-striped table-hover table-bordered">
				<tr>
					<th>Date</th>
					<th>Purchaser</th>
					<th>Description</th>
					<th>Cost</th>
					<th>Remove</th>
				</tr>
				<tr ng-repeat="entry in entries">
					<td>{{entry.Date | date: "M/d/yyyy"}}</td>
					<td>{{entry.User}}</td>
					<td>{{entry.Description}}</td>
					<td>{{entry.Cost  | currency}}</td>
					<td><a ng-click="remove(entry)">Remove</a></td>
				</tr>
			</table>
		</div>
		<div class="col-md-2">
			<p>Total: <strong>{{total()  | currency}}</strong></p>
			<p>Per Person: <strong>{{total() / 6  | currency}}</strong></p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
				<table class="table table-striped table-hover table-bordered">
					<tr>
						<th>Name</th>
						<th>Spent</th>
						<th>Owes</th>
					</tr>
					<tr ng-repeat="user in users | orderBy: 'toString()'">
						<td>{{user}}</td>
						<td>{{getTotal(user) | currency}}</td>
						<td ng-if="owes(user) > 0"><font color="red">{{owes(user) | currency}}</font></td>
						<td ng-if="owes(user) <= 0"><font color="green">{{owes(user) | currency}}</font></td>
					</tr>
				</table>
		</div>
		<div class="col-md-4">
			<form class="form-inline well">
				<label class="control-label">Name: </label><br>
				<select class="form-control" ng-model="post.User">
					<option ng-repeat="user in users | orderBy: 'toString()'">{{user}}</option>
				</select>
				<br><br>
				<label class="control-label">Date: </label><br>
				<input type="date" class="form-control" ng-model="post.Date"></input>
				<br><br>
				<label class="control-label">Description: </label><br>
				<input type="text" class="form-control" ng-model="post.Description"></input>
				<br><br>
				<label class="control-label">Cost: </label><br>
				<input type="number" class="form-control" ng-model="post.Cost"></input>
				<div class="pull-right">
					<button type="button" ng-click="submitForm()" class="btn btn-primary">Submit</button>
				</div>
			</form>
		</div>
	</div>
	<!--
	<div class="row">
		<div ng-repeat="user in users" class="col-md-2">
			<h3>{{user}}</h3><hr>
			<p>Spent: <strong>{{getTotal(user) | currency}}</strong></p>
			<p>Owes: <strong>
				<font ng-if="owes(user) > 0" color="red">{{owes(user) | currency}}</font>
				<font ng-if="owes(user) <= 0" color="green">{{owes(user) | currency}}</font>
			</strong></p>
		</div>
	</div>
	-->
</div>