<div ng-controller="movieCtrl" style="margin-top: 20px">
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
			<button class="btn btn-primary" ng-click="upload()">Upload</button>
		</div>
		<div class="col-md-8">
			<table class="table table-hover table-sm">
				<tr>
					<th>Download</th>
					<th>Delete</th>
				</tr>
				<tr ng-repeat="movie in movies | orderBy: ['type', 'title']">
					<td><a ng-href="./assets/movies/{{movie}}">{{movie}}</a></td>
					<td><div ng-click="delete(movie)">Delete</div></td>
				</tr>
			</table>
		</div>
	</div>
</div>
