<div ng-controller="pictureCtrl" style="margin-top: 20px">
	<p>Not implemented on refactored project - see previous revisions</p>
	<div class="row">
		<div class="col-md-1">
		</div>
		<div class="col-md-1">
			<button class="btn btn-primary" ng-click="upload()">Upload</button>
		</div>
		<div class="col-md-8">
			<table class="table table-hover table-sm">
				<tr>
					<th>Image</th>
					<th>Download</th>
					<th>Delete</th>
				</tr>
				<tr ng-repeat="picture in pictures">
					<td><a ng-href="assets/pictures/{{picture}}"><img ng-src="assets/pictures/{{picture}}" style="max-width: 100px" /></a></td>
					<td><a download="{{picture}}" ng-href="assets/pictures/{{picture}}">{{picture}}</a></td>
					<td><div ng-click="delete(picture)">Delete</div></td>
				</tr>
			</table>
			{{hello}}
		</div>
	</div>
</div>