<div ng-controller="remoteCtrl" class="container-fluid" ng-Keypress="keypress($event)" focus>
	<br>
	<div class="row">

		<!-- LEFT MENU -->
		<div class="col-sm-4">
			<div class="row"><div class="col-md-12"><button type="button" class="btn btn-lg btn-primary" ng-click="sendCommand('-')" style="width: 100%">Vol -</button></div></div>			

			<div class="row"><div class="col-md-12"><button type="button" class="btn btn-lg btn-primary" ng-click="sendCommand(1)" style="width: 100%">-</button></div></div>
			<div class="row"><div class="col-md-12"><button type="button" class="btn btn-lg btn-primary" ng-click="sendCommand('<')" style="width: 100%; height: 100%">&lt;&lt;</button></div></div>
			<div class="row"><div class="col-md-12"><button type="button" class="btn btn-lg btn-danger" ng-click="sendCommand('left')" style="width: 100%; height: 100%">-30 sec</button></div></div>
			<div class="row"><div class="col-md-12"><button type="button" class="btn btn-lg btn-danger" ng-click="sendCommand('down')" style="width: 100%; height: 100%">-10 min</button></div></div>
		</div>

		<!-- PLAY PAUSE -->
		<div class="col-sm-4">
			<button type="button" class="btn btn-lg btn-success" ng-click="sendCommand('p')" style="width: 100%; height: 100%">Play/Pause</button>
		</div>


		<!-- RIGHT MENU -->
		<div class="col-sm-4">
			<div class="row"><div class="col-md-12"><button type="button" class="btn btn-lg btn-primary" ng-click="sendCommand('+')" style="width: 100%; height: 100%">Vol +</button></div></div>
			<div class="row"><div class="col-md-12"><button type="button" class="btn btn-lg btn-primary" ng-click="sendCommand(2)" style="width: 100%; height: 100%">+</button></div></div>
			<div class="row"><div class="col-md-12"><button type="button" class="btn btn-lg btn-primary" ng-click="sendCommand('>')" style="width: 100%; height: 100%">&gt;&gt;</button></div></div>
			<div class="row"><div class="col-md-12"><button type="button" class="btn btn-lg btn-danger" ng-click="sendCommand('right')" style="width: 100%; height: 100%">+30 sec</button></div></div>
			<div class="row"><div class="col-md-12"><button type="button" class="btn btn-lg btn-danger" ng-click="sendCommand('up')" style="width: 100%; height: 100%">+10 min</button></div></div>
		</div>
	</div>

	<!-- QUIT -->
	<div class="row">
		<div class="col-md-12">
			<button type="button" class="btn btn-lg btn-danger" ng-click="sendCommand('q')" style="width: 100%;">Quit</button>
		</div>
	</div>

	<!-- MOVIE CHOICES -->
	<div class="row" style="padding: 40px;">
		<div class="col-md-12">
			<h2>Movies</h2>
			<div class="table-responsive">
				<table class="table table-bordered" style="background-color: rgba(0,0,0,.02)">
					<tr>
						<td ng-repeat="movie in movies | filter:{type:0}" ng-click="play(movie.url)">
							<img ng-src="{{movie.img}}" height="150" width="100"><br><h4>{{movie.title}}</h4>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>


	<!-- SHOW CHOICES -->
	<div class="row" style="padding: 40px;">
                <div class="col-md-12">
                        <h2>Shows</h2>
                        <div class="table-responsive">
                                <table class="table table-bordered" style="background-color: rgba(0,0,0,.02)">
                                        <tr>
                                                <td ng-repeat="movie in movies | filter:{type:1}" ng-click="play(movie.url)">
                                                        <img ng-src="{{movie.img}}" height="150" width="100"><br><h4>{{movie.title}}</h4>
                                                </td>
                                        </tr>
                                </table>
                        </div>
                </div>
        </div>

    <!-- LIVE STREAM -->
	<div class="row" style="padding: 40px;">
                <div class="col-md-12">
                        <h2>Live Stream</h2>
                        <div class="table-responsive">
                                <table class="table table-bordered" style="background-color: rgba(0,0,0,.02)">
                                        <tr>
                                                <td ng-repeat="stream in streams | orderBy: 'title'" ng-click="playStream(stream.url)">
                                                        <img ng-src="{{stream.img}}" height="{{stream.height}}" width="{{stream.width}}"><br><h4>{{stream.title}}</h4>
                                                </td>
                                        </tr>
                                </table>
                        </div>
                </div>
        </div>
	
	<div class="row" style="padding: 40px;">
		<div class="col-md-12">
			<h3>Twitch Stream</h3>
			<span>Twitch User: </span>
			<input type="text" ng-model="channelName">
			<button type="button" ng-click="twitchStream(channelName)">Watch</button>
			<span>{{status}}</span>
		</div>
	</div>

	<!-- MUSIC -->
	<div class="row" style="padding: 40px;">
		<div class="col-md-12">
			<h2>Music</h2>
			<div class="table-responsive">
				<table class="table table-bordered" style="background-color: rgba(0,0,0,.02)">
					<tr>
						<td ng-repeat="song in songs" ng-click="playSong(song)">
							<span>{{song}}</span>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>

	<div class="row" style="padding: 40px;">
		<div class="col-md-3">
			<button type="button" class="btn btn-primary" ng-click="switchLights()">Lights</button>
		</div>
	</div>
	

	<style type="text/css">
		/* Overwrite the default to keep the scrollbar always visible */

		::-webkit-scrollbar {
		    -webkit-appearance: none;
		    width: 7px;
		    height: 10px;
		}

		::-webkit-scrollbar-thumb {
		    border-radius: 4px;
		    background-color: rgba(0,0,0,.5);
		    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
		}
	</style>
</div>
